[Unit]
Description=Etcd Server
After=network.target
After=network-online.target
Wants=network-online.target

[Service]
Type=notify
WorkingDirectory=/pub/data/etcd/
# set GOMAXPROCS to number of processors
ExecStart=/bin/bash -c "GOMAXPROCS=$(nproc) /usr/bin/etcd \
    --name=\"etcd1\" \
    --cert-file=\"/etc/kubernetes/ssl/etcd.crt\" \
    --key-file=\"/etc/kubernetes/ssl/etcd.key\" \
    --peer-cert-file=\"/etc/kubernetes/ssl/etcd.crt\" \
    --peer-key-file=\"/etc/kubernetes/ssl/etcd.key\" \
    --trusted-ca-file=\"/etc/kubernetes/ssl/ca.crt\" \
    --peer-trusted-ca-file=\"/etc/kubernetes/ssl/ca.crt\" \
    --initial-advertise-peer-urls=\"https://192.168.19.155:2380\" \
    --listen-peer-urls=\"https://192.168.19.155:2380\" \
    --listen-client-urls=\"https://192.168.19.155:2379,https://127.0.0.1:2379\" \
    --advertise-client-urls=\"https://192.168.19.155:2379,https://127.0.0.1:2379\" \
    --initial-cluster-token=\"etcd-cluster\" \
    --initial-cluster=\"etcd1=https://192.168.19.155:2380,etcd2=https://192.168.19.156:2380,etcd3=https://192.168.19.157:2380\" \
    --initial-cluster-state=\"new\" \
    --client-cert-auth=\"true\" \
    --peer-client-cert-auth=\"true\" \
    --data-dir=\"/pub/data/etcd\""
Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
